<!--index.html-->
{% extends "layout.html" %}
{% block content %}

<h1 style="margin-top: 10px; margin-left: 20px;">Deep Learning for Reunion Energy Autonomy</h1>

<div class="text-box">
  <p align="justify">
  <b>DeepRun (Deep Learning for Reunion Energy Autonomy)</b> is a postdoctoral project 
  conducted by the University of La Réunion and supervised by the ENERGY-lab laboratory and CIRAD.
  <br>
  <br>
  <b>Main objective</b><br>
  Development of transversal deep machine learning algorithms for image recognition for various 
  types of applications, from bubbly regimes for the tropicalisation of decarbonised hydrogen 
  production, to the use of intertropical agricultural land for the optimisation of plant biomass.
  <br>
  <br>
  <b>Features</b><br>
  This API provides some useful tools related to AI world for data analysis. It's composed of four main parts:
  the first part "Modeling" is the model instancing, the second part "Training" is a training process, 
  the third part "inference" is the model exploitation, and the last
  part "Tools" includes a variety of miscellaneous method related to <i>DeepRun</i> functions.
  </p>
</div>
  
<div style="margin: 40px;">
  <ul>
    <li>Chief scientist: Jean-Jacques Amangoua KADJO (ENERGY-lab)</li>
    <li>Post-doctoral student: Christophe LIN-KWONG-CHON (ENERGY-lab)</li> 
    <li>Scientific partners: <ul>
      <li>Cédric DAMOUR (ENERGY-lab)</li>
      <li>Michel BENNE (ENERGY-lab)</li>
      <li>Pierre TODORFF (AIDA)</li>
      <li>Lionel LE MEZO (AIDA)</li>
    </ul>
  </ul>
</div>

{% endblock %}